@charset 'utf-8';
*{
	border: none;
	box-sizing: border-box;
	font-family:'Segoe UI','Verdana';
	margin: 0px;
	outline: none;
	padding: 0px;
}
body{
	background: #eee;
}
header{
	background: #627088;
	height: 90px;
	position: fixed;
	top: 0px;
	width: 100%;
}
nav ul{
	list-style-type: none;
}
nav ul li{
	float: left;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	margin: 20px 40px 20px 0px;
}
nav ul li a{
	color: #fff;
	text-decoration: none;
}
nav ul li a:hover{
	color: #eee;
	cursor: pointer;
}
.container{
	margin: 0px auto;
	width: 1280px;
}
.shadow{
	background: #fff;
	box-shadow: 1px 1px 2px #ccc;
	margin: 100px auto;
	padding: 10px;
}
h1{
	border-bottom: 1px solid #ddd;
	font-weight: 100;
	line-height: 60px;
}
.patient{
	border-top: 1px solid #ddd;
	padding: 20px 0px;
}
.patient:nth-of-type(1){
	border: none;
}
.dataName, .dataPatient{
	float: left;
}
.dataName p, .dataPatient p{
	line-height: 30px;
}
.dataName{
	width: 200px;
}
.dataName p{
	border-right: 1px solid #ddd;
}
.dataPatient{
	color: #627088;
}
.dataPatient p{
	padding-left: 10px;
}
.details, .formButton{
	background: #f05d23;
	color: #fff;
	float: right;
	font-size: 16px;
	padding: 8px 16px;
}
.details:hover, .formButton:hover{
	background: #bb3d29;
	cursor: pointer;
}
.clear{
	clear:  both;
}
h2{
	border: 1px solid #f05d23;
	color: #f05d23;
	font-weight: 100;
	margin: 20px 0px;
	padding: 10px 20px;
}
.visit{
	border-top: 1px solid #ddd;
	padding: 20px 0px;
}
.visit:nth-of-type(1){
	border: none;
}
.formLeft{
	float: left;
	margin: 10px 0px;
}
.formLeft label{
	display: block;
	line-height: 30px;
	margin: 10px 0px;
}
.formRight{
	float: left;
	margin: 10px 0px;
}
.inputText{
	border: 1px solid #ddd;
	display: block;
	height: 30px;
	margin: 10px 30px;
	padding: 0px 10px;
	width: 300px;
}
.formButton{
	float: left;
}